<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/init.css">
    <link rel="stylesheet" href="../static/styles/selection.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
<div class="container">
    <div class="block" onclick="window.location.href='elderly_signup.html'">
        <div class ="circleblock">
            <div class="circle1" style="background-color: transparent;">
                <img src="../static/images/senior.png" width="240px" height="240px">
            </div>
        </div>
        <div class = "nameblock">
            노인 사용자
        </div>
    </div>
    <div class="block" onclick="window.location.href='volunteer_signup.html'">
        <div class ="circleblock">
            <div class="circle2" style="background-color: transparent;">
                <img src="../static/images/volunteer.png" width="225px" height="225px">
            </div>
        </div>
        <div class = "nameblock">
            자원 봉사자
        </div>
    </div>
</div>
</body>
</html>