<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/welcome.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div id="main-view">
        <div id="title-container">
            <h1>도움이 필요하신가요?</h1>
            <p class="description">지금 바로 나에게 맞는 자원봉사자를 만나보세요!</p>
            <a href="signup" class="start-button">시작하기</a>
        </div>
    </div>
</body>
</html>
