@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');
@import "reset.css";

:root {
    --maincolor : #A6C48A;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'NanumGothic', sans-serif;
}
